<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.hardware"
    android:versionCode="79"
    android:versionName="14.3" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="28" />

</manifest>